<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if page is defined %}
        	<!-- Title and description -->
        	<title>{pagetitle}</title>
        	<meta name="description" content="{pagemetadescription}">
        {% endif %}
        <!-- Pigeon theme styles -->
        <link class="reea-styles" rel="stylesheet" type="text/css" href="{{getAssetUrl('themes/'~template~'/assets/styles.css', null, null, true) }}">

        <!-- stylesheets -->
        {% block stylesheets %}{% endblock %}
        	{{ outputHeadDeclarations() }}
    </head>
    <body>
    	<!-- body contents -->
        {{ outputScripts('bodyOpen') }}
        {% block content %}{% endblock %}
        {{ outputScripts('bodyClose') }}
    </body>
</html>