{% extends ":"~template~":base.html.twig" %}

{% block content %}

<div data-section-wrapper="1">
    <center>
        <table data-section="1" width="600" cellpadding="0" cellspacing="0" class="content">
            <tbody>
                <tr>
                    <td>
                    	<div class="row pigeon-header center">
			  				<img src="{{getAssetUrl('themes/'~template~'/assets/logo.png')}}" alt="Logo" title="Logo" class="logo" style="width: 100%;max-width: 320px;" >
						</div>
                    	<div class="row pigeon-content">
				  			<div class="cell">
                                <h2>Hello <i>Pigeon fancier</i> 👋</h2>
								<p>We haven't heard from you for a while...
								</p>
								<p>
								  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
								</p>
                                <a href="https://pigeonposse.com" class="button">GO 👊</a>
				  			</div>

						</div>
                    	<div class="row pigeon-footer center">
                    		<div class="cell social-links">
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tbody>
									<tr>
										<td style="align-content: center; width:10%;"></td>
										<td style="">
											<a href="https://github.com/PigeonPosse/" target="_blank">
												<img 
												height="auto" 
												src="{{getAssetUrl('themes/'~template~'/assets/social/github.png')}}" style="border:0;display:block;outline:none;text-decoration:none;height:auto;width: 20px;font-size:13px;margin: auto;" 
												width="20" 
												alt="GitHub" 
												title="GitHub" 
												/> 
											</a>
										</td>
										<td style="">
											<a href="https://twitter.com/pigeonposse_" target="_blank">
												<img 
												height="auto" 
												src="{{getAssetUrl('themes/'~template~'/assets/social/twitter.png')}}" 
												style="border:0;display:block;outline:none;text-decoration:none;height:auto;width: 20px;font-size:13px;margin: auto;" width="20" 
												alt="Twitter" 
												title="Twitter" 
												/> 
											</a>
										</td>
										<td style="">
											<a href="https://www.instagram.com/pigeon.posse" target="_blank">
												<img 
												height="auto" 
												src="{{getAssetUrl('themes/'~template~'/assets/social/instagram.png')}}" 
												style="border:0;display:block;outline:none;text-decoration:none;height:auto;width: 20px;margin: auto;font-size:13px;" 
												width="20" 
												alt="Instagram" 
												title="Instagram" 
												/> 
											</a>
										</td>
										<td style="align-content: center; width:10%;"></td>
									</tr>
								</tbody>
							</table>

							</div>
				  			<div class="cell web-links">
								<p>
									<a href="https://pigeonposse.com" style="color: #351f53; font-style: italic; text-decoration: none; margin: 0 10px; font-size:14px;" target="_blank">Web</a>
									<a href="https://pigeonposse.com?popup=about" style="color: #351f53; font-style: italic; text-decoration: none; margin: 0 10px; font-size:14px;" target="_blank">About</a>
									<a href="mailto:dev@pigeonposse.com" style="color: #351f53; font-style: italic; text-decoration: none; margin: 0 10px; font-size:14px;" target="_blank">Contact</a>
									<a href="https://pigeonposse.com?popup=donate" style="color: #351f53; font-style: italic; text-decoration: none; margin: 0 10px; font-size:14px;" target="_blank">Donate</a>
								</p>
				  			</div>
				  			<div class="cell copy">
				  				<p style="font-size:13px;">copyright © 2022</p>
				  			</div>
						</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </center>
</div>

{% endblock %}

